/build/
*.o
*.a
/HTKTools/HRest
/HTKTools/HLRescore
/HTKTools/HRest
/HTKTools/HVite
/HTKTools/HBuild
/HTKTools/HHEd
/HTKTools/HLStats
/HTKTools/HResults
/HTKTools/HCompV
/HTKTools/HInit
/HTKTools/HMMIRest
/HTKTools/HSGen
/HTKTools/HCopy
/HTKTools/HLEd
/HTKTools/HParse
/HTKTools/HSLab
/HTKTools/HDMan
/HTKTools/HList
/HTKTools/HQuant
/HTKTools/HSmooth

/HLMTools/LAdapt
/HLMTools/LGCopy
/HLMTools/LLink
/HLMTools/LNorm
/HLMTools/Cluster
/HLMTools/LBuild
/HLMTools/LGList
/HLMTools/LMerge
/HLMTools/LPlex
/HLMTools/HLMCopy
/HLMTools/LFoF
/HLMTools/LGPrep
/HLMTools/LNewMap
/HLMTools/LSubset
